<!DOCTYPE html>
<html>
<head>
  <title>Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.min.js"></script>
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> -->
  <link rel="stylesheet" href="../static/chartstyle.css">
</head>
<body>
  <div id="chart-container" style="width: 600px; height: 400px;"></div>
  <!-- <label class="switch">
    <input type="checkbox" id="switch" onchange="toggleSwitch()">
    <span class="slider round"></span>
  </label> -->
  <script src="../static/chart_action.js"></script>
</body>
</html>
